body 
{
	background: url("http://www.powerpointhintergrund.com/uploads/carbon-fiber-texture-and-pattern-28.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkgray;
	padding: 0;
	margin: 0;
	height: 100%;
}

.content 
{
  min-height: 100%
  padding: 45px;
}

.content-inside 
{
  padding: 20px;
  padding-bottom: 50px;
}

header 
{
    background-color: #ffffff;
    border-bottom: solid;
    border-color: #b4b4b4;
    color: black;
    padding: 33px 50px 49px 50px;
}

#Name 
{
    background-color: #4aaaa5;
    font-size: 36px;
    color: #ffffff;
    padding: 20.5px;
    font-family: "times";
    float: left;
    margin: -33px -25px -30px 30px;
    position: fixed;
}

#Name a 
{
    color: #ffffff;
    text-decoration: none;
}

a:hover 
{
    color: darkgray;
}

nav 
{
    margin: -5px 150px 0px 0px;
    float: right;
    margin-left: auto;  
}

.primary-nav li 
{
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
}

li:not(:last-child) 
{
    border-right: 1px solid lightgray;
}

.primary-nav a
{
    color: #777777;
    font-size: 20px;
    text-decoration: none;
    font-family: 'arial', 'helvetica';
    text-decoration: none;
}

a:hover 
{
    color: #4aaaa5;
}

#Contact 
{
    background-color: #ffffff;
    color: #4aaaa5;
    margin: 15px 75px 0px 60px;
    font-family: "times"; 
    font-size: 18px;
    width: 650px;
    height: 450px;
    padding: 15px;
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
}

#Contact-header
{
	padding: -25px;
	margin: -16px -5px 0px 5px; 
	border-bottom: solid;
	border-color: #b4b4b4;
    font-size: 24px;
    line-height: 3px;
    margin-bottom: 5px;
}

.form
{
    width: 100%;
    padding: 10px 0px 0px 5px;
    color: #777777;   
    box-sizing: border-box;
    font-family: Helvetica;
}

input[type=text] 
{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

textarea 
{
    width: 100%;
    height: 150px;
    padding: 10px 5px;
    margin: 5px 0px 0px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=submit]
{
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
img 
{
    float: left;
    margin: 0px 0px 0px 0px;
    width:200px; height:200px;
    padding: 15px 10px 0px 0px;
    margin: 15px 0px 0px -5px;
}

.about-me-content 
{
    background-color: #ffffff;
    color: #777777;
    margin: -5px 0px 0px 5px;
    font-family: "helvetica";
    font-size: 18px;
    line-height: 1.8;
}

.imgclass1 {
    float: left;
    margin: 0px 0px 0px 0px;
    width:72px; height:75px;
    padding: 15px 10px 0px 0px;
    margin: 15px 0px 0px 5px;
}

#connect-with-me 
{
    background-color: #ffffff;
    color: #4aaaa5;
    margin: -482px 415px 7px 790px;
    font-family: "times"; 
    text-align: center;
    width: 270px;
    height: 200px;
    padding: 15px;
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
    position: fixed;
}

#connect-with-me-header
{
    padding: 5px;
    margin: 0px -5px 0px 4px; 
    border-bottom: solid;
    border-color: #b4b4b4;
}

footer 
{
    background-color: #666666;
    border-top: solid;
    border-color: #4aaaa5;
    border-top-width: 10px;
    text-align: center;
    color: #b4b4b4;
    padding: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 	margin-top: -50px;
 	height: 50px;
}