body {
    background: url("http://www.powerpointhintergrund.com/uploads/carbon-fiber-texture-and-pattern-28.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkgray;
    padding: 0;
    margin: 0;
    height: 100%;

}

.content 
{
  min-height: 100%
  padding: 45px;
}
.content-inside 
{
  padding: 20px;
  padding-bottom: 50px;
}
header 
{
    background-color: #ffffff;
    border-bottom: solid;
    border-color: #b4b4b4;
    color: black;
    padding: 33px 50px 49px 50px;
}

#Name 
{
    background-color: #4aaaa5;
    font-size: 36px;
    color: #ffffff;
    padding: 20.5px;
    font-family: "times";
    float: left;
    margin: -33px -25px -30px 30px;
    position: fixed;
}

#Name a 
{
    color: #ffffff;
    text-decoration: none;
}

nav 
{
    margin: -5px 150px 0px 0px;
    float: right;
    margin-left: auto;  
}

.primary-nav li 
{
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
}

li:not(:last-child) 
{
    border-right: 1px solid lightgray;
}

.primary-nav a
{
    color: #777777;
    font-size: 20px;
    text-decoration: none;
    font-family: 'arial', 'helvetica';
    text-decoration: none;
}

a:hover 
{
    color: #4aaaa5;
}

#Portfolio 
{
    background-color: #ffffff;
    color: #4aaaa5;
    margin: 15px 75px 0px 60px;
    font-family: "times"; 
    font-size: 18px;
    width: 650px;
    height: 495px;
    padding: 15px;
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
}
#Portfolio-header
{
    padding: -25px;
    margin: -16px -5px 0px 5px; 
    border-bottom: solid;
    border-color: #b4b4b4;
    font-size: 24px;
    line-height: 3px;
    margin-bottom: 5px;
}
.gallery {
    position: relative;
    margin: 7px;
    border: 2px solid #ccc;
    float: left;
    width: 300px;
    height: 120px;
}

gallery:hover 
{
    border: 1px solid #777;
}

.gallery img 
{
    width: 100%;
    height: 100%;
}

.desc 
{
    position: absolute;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: white;
    width:  300px;
    background-color: #4aaaa5; 
    margin: 65px 0px 125px 0px;
}

img 
{
    float: left;
    margin: 0px 0px 0px 0px;
    width:200px; height:200px;
    padding: 15px 10px 0px 0px;
    margin: 15px 0px 0px -5px;
}


.imgclass1 
{
    float: left;
    width:72px; height:75px;
    padding: 15px 10px 0px 0px;
    margin: 15px 0px 0px 5px;

}
.imgclass6 
{
    float: left;
    width: 900px;
    height: 120px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#connect-with-me 
{
    background-color: #ffffff;
    color: #4aaaa5;
    margin: -527px 415px 7px 790px;
    font-family: "times"; 
    text-align: center;
    width: 270px;
    height: 200px;
    padding: 15px;
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
    position: fixed;
}

#connect-with-me-header
{
    padding: 5px;
    margin: 0px -5px 0px 4px; 
    border-bottom: solid;
    border-color: #b4b4b4;
}

footer 
{
    background-color: #666666;
    border-top: solid;
    border-color: #4aaaa5;
    border-top-width: 10px;
    text-align: center;
    color: #b4b4b4;
    padding: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: -50px;
    height: 50px;
}

